<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BulkExportDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <applicationSettings>
    <BulkExportDownload.Properties.Settings>
      <setting name="Url" serializeAs="String">
        <value>https://myorganisation.zenya.work</value>
      </setting>
      <setting name="Username" serializeAs="String">
        <value>BulkExportDownloader</value>
      </setting>
      <setting name="AllowDownloadOfExportWithErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ToEMailAddress" serializeAs="String">
        <value>toemailaddress</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>MyAPIKey</value>
      </setting>
      <setting name="FromEMailAddress" serializeAs="String">
        <value>fromemailaddress</value>
      </setting>
      <setting name="BulkExportsToDownload" serializeAs="String">
        <value>1, c:\bulkexports</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MailServer" serializeAs="String">
        <value>smtp.mytestmailserver.org</value>
      </setting>
      <setting name="EMailSubject" serializeAs="String">
        <value>Bulk Export Downloader Report</value>
      </setting>
      <setting name="SaveCopyOfZipFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CleanUpPreviousExport" serializeAs="String">
        <value>False</value>
      </setting>
    </BulkExportDownload.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
