<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BulkExportDownload.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <applicationSettings>
    <BulkExportDownload.Properties.Settings>
      <setting name="Username" serializeAs="String">
        <value>BulkExportDownloader</value>
      </setting>
      <setting name="AllowDownloadOfExportWithErrors" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="BulkExportsToDownload" serializeAs="String">
        <value>1, C:\\Bulkexport</value>
      </setting>
      <setting name="MailServer" serializeAs="String">
        <value>smtp.mytestmailserver.org</value>
      </setting>
      <setting name="EMailSubject" serializeAs="String">
        <value>Bulk Export Downloader Report</value>
      </setting>
      <setting name="SaveCopyOfZipFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="CleanUpPreviousExport" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="WaitForBulkexportToFinish" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="WaitTimeForExportToBeReadyInHours" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="DownloadTries" serializeAs="String">
        <value>5</value>
      </setting>
      <setting name="Url" serializeAs="String">
        <value>https://customer.zenya.work</value>
      </setting>
      <setting name="ToEMailAddress" serializeAs="String">
        <value>toemailaddress@mail.nl</value>
      </setting>
      <setting name="ApiKey" serializeAs="String">
        <value>XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXX</value>
      </setting>
      <setting name="FromEMailAddress" serializeAs="String">
        <value>fromemailaddress@mail.nl</value>
      </setting>
      <setting name="DebugMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="UseBulkexportNameAsFoldername" serializeAs="String">
        <value>False</value>
      </setting>
		<setting name="MailUser" serializeAs="String">
			<value></value>
		</setting>
		<setting name="MailPassword" serializeAs="String">
			<value></value>
		</setting>
		<setting name="EnableSSLMail" serializeAs="String">
			<value>True</value>
		</setting>
		<setting name="ExtractInnerZIP" serializeAs="String">
			<value>True</value>
		</setting>
    </BulkExportDownload.Properties.Settings>
  </applicationSettings>
</configuration>
